.vp_output {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: rgba(0, 0, 255, 0.036);
  .vp_layout {
    background-color: rgba(65, 105, 225, 0.522);
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
